<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
         <title>Zest Cakes</title>
    {% endblock title %}
    <script src="{% static 'js/app.js' %}" defer></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Cabin&family=Herr+Von+Muellerhoff&family=Poiret+One&family=Source+Sans+Pro:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
    </style>
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="container">
            <nav class="navbar">
                <div class="menu-toggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <a href="{% url 'home' %}" class="logo">Zest Cakes</a>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'about' %}" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'about' %}#reservation" class="nav-link">Order</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'bakers' %}" class="nav-link">Bakers</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    {% block content %}

    {% endblock content %}
    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="back-to-top">
                <a href="#hero"><i class="fas fa-chevron-up"></i></a>
            </div>
            <div class="footer__content">
                <div class="footer__content-about animate-top">
                    <h4>About Zest Cakes</h4>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    <p>Founded with a dream and a whisk, Zest Cakes' has been delighting cake enthusiasts with exquisite creations since day one. At Zest Cakes, we believe that life is sweeter with cake, and we invite you to join us on this delightful journey of sugar and spice.</p>
                </div>
                <div class="footer__content-divider animate-bottom">
                    <div class="social-media">
                        <h4>Follow Us</h4>
                        <ul class="social-icons">
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100092631967998">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="newsletter-container">
                        <h4>Newsletter</h4>
                        <form action="" class="newsletter-form">
                            {% csrf_token %}
                            <div class="newsletter-form-box">
                                <input type="text" class="newsletter-input" name="email" placeholder="Your email address...">
                                <button class="newsletter-btn" type="submit">
                                    <i class="fas fa-envelope"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
